{% include 'header.twig' with {'title': 'Мы на карте'}  %}

</html> 
<div class="content">
<p><iframe style="width: 100%;" src="https://yandex.ru/map-widget/v1/?z=12&amp;ol=biz&amp;oid=1233595239" height="500" frameborder="0"></iframe></p>
	
</div>


{% include 'footer.twig' %}
