{% include 'header.twig' with {'title': 'До и после'}  %}

</html> 
<div class="content">

<style>
#do-posle {
 margin-top: 20px;
 margin-bottom: 0px;
}
</style>
<p class="post-txt-block" id='do-posle'>
Примеры ортодонтических работ по выравниванию зубных рядов и исправлению прикуса.
</p>
<!--
<pre class="wp-block-code"><code>
<div class="do-posle">
<img decoding="async" class="foto-do-posle" src="/images/до-и-после-3.webp" alt="Стоматология в Волгограде, фото до и после" width="600" height="600"/>
<img decoding="async" loading="lazy" class="foto-do-posle" src="/images/до-и-после-2.webp" alt="Стоматология в Волгограде, фото до и после" width="600" height="600"/>
<img decoding="async" loading="lazy" class="foto-do-posle" src="/images/до-и-после-1.webp" alt="Стоматология в Волгограде, фото до и после" width="600" height="600"/>
</div>
-->
</code></pre>



<figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="600" height="600" src="/images/до-и-после-3.webp" alt="" class="wp-image-11163" srcset="/images/до-и-после-3.webp 600w, /images/до-и-после-3-300x300.webp 300w, /images/до-и-после-3-150x150.webp 150w" sizes="(max-width: 600px) 100vw, 600px" /></figure>



<figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="600" height="600" src="/images/До-и-после-КО-1.webp" alt="" class="wp-image-11160" srcset="/images/До-и-после-КО-1.webp 600w, /images/До-и-после-КО-1-300x300.webp 300w, /images/До-и-после-КО-1-150x150.webp 150w" sizes="(max-width: 600px) 100vw, 600px" /></figure>



<figure class="wp-block-image"><img decoding="async" loading="lazy" width="600" height="600" src="/images/до-и-после-1.webp" alt="Ортодонтическое лечение до и после" class="wp-image-9906" srcset="/images/до-и-после-1.webp 600w, /images/до-и-после-1-300x300.webp 300w, /images/до-и-после-1-150x150.webp 150w" sizes="(max-width: 600px) 100vw, 600px" /></figure>



<figure class="wp-block-image"><img decoding="async" loading="lazy" width="600" height="600" src="/images/до-и-после-2.webp" alt="Пример исправления прикуса." class="wp-image-9907" srcset="/images/до-и-после-2.webp 600w, /images/до-и-после-2-300x300.webp 300w, /images/до-и-после-2-150x150.webp 150w" sizes="(max-width: 600px) 100vw, 600px" /></figure>
	
</div>


{% include 'footer.twig' %}
