{% include 'header.twig' with {'title': 'Документы'}  %}

</html> 
<div class="content">

<div class='carta_partnera'>
<p class='zag'>Кaрта партнёрa<p>
<strong>Наименование предприятия:</strong> ООО «Элла-Стом»<br>
<strong>Юридический адрес:</strong>&nbsp;400137 г. Волгоград. Ул. Симонова, 22<br>
<strong>Время работы:</strong>&nbsp;Понедельник-пятница: с 09:00 до 20:00. Суббота и воскресенье: с 09:00 до 17:00<br>
<strong>Телефон:</strong>&nbsp;8(988)022-00-98<br>
<strong>Электронная почта:</strong>&nbsp;ella-stom@yandex.ru&nbsp;<br>
<strong>ОГРН:</strong>&nbsp;1113443001319<br><strong>ИНН/КПП:</strong>&nbsp;3443103392/344301001<br><strong>Расчетный счёт:</strong>&nbsp;40702810721000286601<br>
<strong>Кор.счет:</strong>&nbsp;30101810100000000715<br><strong>Бик:</strong>&nbsp;041806715 Банк Южный филиал ПАО «Промсвязьбанк» г. Волгоград<br>
<strong>Директор и главный бухгалтер:</strong>&nbsp;Крамаренко Александр Владимирович
</div>



<figure class="wp-block-image size-full"><img decoding="async" width="714" height="1024" src="https://ellastom.ru/wp-content/uploads/2023/03/Лицензия-на-осущ-мед-деятельности-2020-1-714x1024-—-копия.webp" alt="" class="wp-image-9078" srcset="https://ellastom.ru/wp-content/uploads/2023/03/Лицензия-на-осущ-мед-деятельности-2020-1-714x1024-—-копия.webp 714w, https://ellastom.ru/wp-content/uploads/2023/03/Лицензия-на-осущ-мед-деятельности-2020-1-714x1024-—-копия-209x300.webp 209w" sizes="(max-width: 714px) 100vw, 714px" /></figure>



<figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="715" height="1024" src="https://ellastom.ru/wp-content/uploads/2023/04/Лицензия-на-осущ-мед-деятельности-оборотная-сторона-715x1024-1.webp" alt="" class="wp-image-9985" srcset="https://ellastom.ru/wp-content/uploads/2023/04/Лицензия-на-осущ-мед-деятельности-оборотная-сторона-715x1024-1.webp 715w, https://ellastom.ru/wp-content/uploads/2023/04/Лицензия-на-осущ-мед-деятельности-оборотная-сторона-715x1024-1-209x300.webp 209w" sizes="(max-width: 715px) 100vw, 715px" /></figure>



<figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="715" height="1024" src="https://ellastom.ru/wp-content/uploads/2023/04/Приложение-к-лицензии-715x1024-1.webp" alt="" class="wp-image-9987" srcset="https://ellastom.ru/wp-content/uploads/2023/04/Приложение-к-лицензии-715x1024-1.webp 715w, https://ellastom.ru/wp-content/uploads/2023/04/Приложение-к-лицензии-715x1024-1-209x300.webp 209w" sizes="(max-width: 715px) 100vw, 715px" /></figure>



<figure class="wp-block-image size-full"><img decoding="async" loading="lazy" width="736" height="1024" src="https://ellastom.ru/wp-content/uploads/2023/04/ОГРН-Элла-Стом-736x1024-1.webp" alt="" class="wp-image-9986" srcset="https://ellastom.ru/wp-content/uploads/2023/04/ОГРН-Элла-Стом-736x1024-1.webp 736w, https://ellastom.ru/wp-content/uploads/2023/04/ОГРН-Элла-Стом-736x1024-1-216x300.webp 216w" sizes="(max-width: 736px) 100vw, 736px" /></figure>
	
</div>


{% include 'footer.twig' %}
