<footer class="footer">
	ООО "Элла-Стом" &nbsp;
	Стоматология в Волгограде<script type='text/javascript' src='https://ellastom.ru/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.7.6' id='swv-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/ellastom.ru\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script type='text/javascript' src='https://ellastom.ru/wp-content/plugins/contact-form-7/includes/js/index.js?ver=5.7.6' id='contact-form-7-js'></script>
<script type='text/javascript' src='https://ellastom.ru/wp-content/themes/Ella1/scripts/jquery.js?ver=1' id='my-jquery-js'></script>
<script type='text/javascript' src='https://ellastom.ru/wp-content/themes/Ella1/scripts/owl.carousel.js?ver=1.01' id='ident-owl-js'></script>
<script type='text/javascript' src='https://ellastom.ru/wp-content/themes/Ella1/scripts/scripts.js?ver=1.01' id='ident-js-js'></script>
<script type='text/javascript' src='https://ellastom.ru/wp-content/themes/Ella1/scripts/menuBtn.js?ver=1.05' id='menuBtn-js'></script>
</footer></div>
</body>
</html>
