<footer class="footer">
	ООО "Элла-Стом" &nbsp;
	Стоматология в Волгограде<script type='text/javascript' src='https://ellastom.ru/wp-content/plugins/contact-form-7/includes/swv/js/index.js?ver=5.7.6' id='swv-js'></script>
<script type='text/javascript' id='contact-form-7-js-extra'>
/* <![CDATA[ */
var wpcf7 = {"api":{"root":"https:\/\/ellastom.ru\/wp-json\/","namespace":"contact-form-7\/v1"}};
/* ]]> */
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragscroll/0.0.8/dragscroll.min.js"></script>
<script type='text/javascript' src='https://ellastom.ru/wp-content/themes/Ella1/scripts/owl.carousel.js?ver=1.01' id='ident-owl-js'></script>
<script src="/js/online_record.js?8"></script>
</footer></div>
</body>
</html>
