{% include 'header.twig' with {'title': 'Общая информация'} %}

</html><div class="content">	
	

<noindex>
<div class="content-main-page">
	<div id="web-addres-logoandtop">	
   		<div id="site-title-semeynaya"> 
	  		<div id='point-logo'>
			<span>•</span>
			<span>•</span>
			<span>•</span>
	 		</div>
	 		<div id="site-title">
			Элла-Стом
	 		</div>
	  		<div id="semeynaya">семейная стоматология</div>
     	</div> 	
		<div id="addres">
			<div id="slovo_adres">Адрес:</div>	
			<a class='btn-call-whatsApp' rel=noindex href="/адрес/">г. Волгоград ул.Симонова, 22</a>		
		</div>
		<div class="grafik">
			<div id="grafikRaboti">График работы:</div>
			<div id="dniRaboti">Пн-Пт: 9.00-20.00<br>Сб, Вс: 9.00-17.00</div>
		</div>
		
			<a class='btn-call-whatsApp' id='tel' href="tel:+79880220098">
				<img decoding="async" class='znak' src="images/tel.webp" alt=‘телефон’ rel="nofollow" width="19" height="19">8(988)022-00-98
			</a>
	   		<a class='btn-call-whatsApp'  id="btn-call" href="tel:+79880220098">
				<img decoding="async" loading="lazy" class='znak' rel="noindex" src="/images/tel.webp" rel="nofollow" alt="Записаться в Стоматологию г. Волгоград Элла-Стом через WhatsApp" width="19" height="19">Позвонить нам
			</a>
			<a class='btn-call-whatsApp' href="https://wa.me/+79880220098" ><img decoding="async" loading="lazy" class='znak' src="/images/F828A6BF-9EDD-47B0-B690-4408C73EE392.webp" rel="nofollow" alt="Записаться в Стоматологию г. Волгоград Элла-Стом через WhatsApp" width="19" height="19">
	Написать в WhatsApp</a>
			<a class='btn-call-whatsApp' href='/наш-персонал/'><img decoding="async" loading="lazy" class='znak' src="/images/zapis.webp" alt="Записаться в Стоматологию г. Волгоград Элла-Стом через WhatsApp" width="19" height="19">Он-лайн запись</a>			
	</div>
		<div class='doc-foto-car-wrap'>
	<div class="owl-carousel" id="slider">				
		<img decoding="async" class="doc-foto-car" loading="defer" src="/images/Ресепшн_аквариум.webp" alt="Стоматология в Волгограде, фото ресепшн" width="500" height="331"/>	
		<img decoding="async" class="doc-foto-car" loading="lazy" src="/images/Кабинет1.webp" alt="Стоматология в Волгограде, фото ресепшн" width="500" height="331"/>
		<img decoding="async" class="doc-foto-car" loading="lazy" src="/images/Ресепшн.webp" alt="Стоматология в Волгограде, фото ресепшн" width="500" height="331"/>
		<img decoding="async" class="doc-foto-car" loading="lazy" src="/images/Кабинет2.webp" alt="Фото кабинета"  width="500" height="331"/>
		<img decoding="async" class="doc-foto-car" loading="lazy" src="/images/Детский-уголок.webp" alt="Детский уголок" width="1000" height="662"/> 			
	</div>
</div>
			</div>
</noindex>
<div class="post-main-page" id="post-main-AV">	
<noindex>
<div id='AV-wrap'>
 <img decoding="async" class="img-page" id="AV" loading="defer" src="/images/AV.webp" alt="Крамаренко Александр Владимирович" width="200" height="200"/>
</div>
</noindex>
	<div class="post-txt-block" id='post-txt-block'>
Мы работаем с 2011 года, оказывая широкий спектр стоматологических услуг для взрослых и детей. Наша команда специалистов решает все поставленные задачи, используя комплексный и индивидуальный подход.
	</div>
</div>
<div class="post-main-page">
<noindex>
<img decoding="async" class="img-page" id="img-action" loading="defer" src="/images/Osstem.webp" alt="Акция на имплантацию в Волгограде" width="709" height="361"/>
</noindex>
	<div class="post-txt-block">
На данный момент, в клинике проходит акция на имплантацию и протезирование под ключ за 52тыс. руб:
	</div>
<ul id="ul-1">
<li>имплантат Osstem + установка = 26 тыс руб. </li>
<li>коронка из безметалловой керамики на основе диоксида циркония = 18 тыс. руб.</li>
<li>индивидуальный титановый абатмент  = 8 тыс. руб.</li>
</ul>
</div>
</div>


{% include 'footer.twig' %}
