{% include 'header.twig' with {'title': 'Прайс'}  %}


</html> 
<div class="content">
<p style="text-align: center;">Для того, что бы узнать итоговую стоимость конкретной ситуации, необходимо пройти консультацию и обследование у специалиста.</p>
<p style="text-align: center;">Информация об услугах обновляется&#8230;</p>


<div class='carta_partnera'>
<p class='zag'>Терапевтическая стоматология<p>
Лечение начального кариеса: от 1900<br>
Лечение среднего кариеса: от 2600<br>
Лечение глубокого кариеса: от 3600<br>
Лечение пульпита однокорневого зуба: от 4500<br>
Лечение пульпита двухкорневого зуба: от 5500<br>
Лечение пульпита трёхкорневого зуба: от 7500<br>
Лечение периодонтита: от 6000<br>
Полное восстановление коронки зуба композитным материалом: от 4000<br>
Профессиональная гигиена полости рта- комплексная чистка: от 3500<br>
Профессиональная гигиена полости рта- ультразвуковая чистка: от 2900<br>
Отбеливание зубов: от 8500<br>
Реставрация зуба художественная (частичная, при разрушении до 1/2 коронки зуба): от 3500<br>
Реставрация зуба художественная (полная, при разрушении более 1/2 коронки зуба): от 5000<br>
</div>


<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Лечение зубов</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-kanalov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение каналов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-kariesa/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение кариеса</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-kariesa-icon/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение кариеса ICON</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-pulpita/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение пульпита</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/restavraciya-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Реставрация зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3500 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Пародонтология</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-gingivita/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение гингивита</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 5200 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-parodontita/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение пародонтита</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 6000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-parodontoza/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение пародонтоза</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-periodontita/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение периодонтита</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 4500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-periostita/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение периостита</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2500 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Чистка зубов</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/germetizaciya-fissur-u-vzroslyh/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Герметизация фиссур у взрослых</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/gigienicheskaya-chistka/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Гигиеническая чистка зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/pokrytie-zubov-ftorlakom/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Покрытие зубов фторлаком</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 50 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/snyatie-zubnyh-otlozheniy/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Снятие зубных отложений</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/udalenie-zubnogo-kamnya/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Удаление зубного камня</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/ftorirovanie-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Фторирование зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/chistka-zubov-air-flow/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Чистка зубов Air Flow</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/chistka-zubov-ultrazvukom/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Чистка зубов ультразвуком</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Отбеливание зубов</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/fotootbelivanie-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Фотоотбеливание зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 9900 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Хирургическая стоматология</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/issechenie-kapyushona-zuba-mudrosti/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Иссечение капюшона зуба мудрости</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-alveolita/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение альвеолита</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 950 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/issechenie-kapyushona-zuba-mudrostiplastika-uzdechki-yazyka/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Пластика уздечки языка (френулопластика, френулотомия)</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/slozhnoe-udalenie-zuba/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Сложное удаление зуба</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 3000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/udalenie-zuba/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Удаление зуба</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1900 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/udalenie-zuba-mudrosti/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Удаление зуба мудрости</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/udalenie-zuba-ultrazvukom/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Удаление зуба ультразвуком</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 5000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/udalenie-kisty-zuba/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Удаление кисты зуба (цистэктомия)</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 5000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Имплантация зубов</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/byugelnyy-protez/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Бюгельный протез</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 19000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/implantaciya-zubov-pod-klyuch/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Имплантация зубов «под ключ»</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 52000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/implanty-osstem/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Импланты Osstem (Осстем)</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 25000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/mini-implanty/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Мини-импланты</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1300 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/protezirovanie-na-implantah/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Протезирование на имплантах</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 17000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/sinus-lifting/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Синус-лифтинг</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 13000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Коронки</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/bezmetallovaya-keramika/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Безметалловая керамика</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 15000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/vremennye-koronki/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Временные коронки</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/zubnoy-most/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Зубной мост</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 18000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/keramicheskie-koronki/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Керамические коронки</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 15000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/koronka-iz-dioksida-cirkoniya/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Коронка из диоксида циркония</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 15000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/kultevaya-vkladka/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Культевая вкладка</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 5000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/metallokeramicheskie-koronki/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Металлокерамические коронки</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 8100 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/plastmassovye-koronki/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Пластмассовые коронки</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 2000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Виниры</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/keramicheskie-viniry/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Керамические виниры</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 16000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/kompozitnye-viniry/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Композитные виниры</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 4000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Брекеты</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/samoligiruyushie-brekety/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Самолигирующие брекеты</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 75000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Детская стоматология</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/germetizaciya-fissur/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Герметизация фиссур у детей</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/ispravlenie-prikusa-u-detyay/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Исправление прикуса у детей</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 15000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/lechenie-molochnyh-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Лечение молочных зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1000 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/plombirovanie-molochnyh-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Пломбирование молочных зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1100 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/serebrenie-molochnyh-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Серебрение молочных зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 150 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/udalenie-molochnogo-zuba/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Удаление молочного зуба</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 1000 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Рентген зубов</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/snimok-zuba/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Снимок зуба</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 100 ₽</div>
</div>
</div>
</div>
<div class="b-clinic-full-price__item b-clinic-full-price__item_price-center">
<div class="b-clinic-full-price__item-title">Исправление прикуса</div>
<div class="b-clinic-full-price__item-content">
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/retyaynery/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Ретейнеры</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 4500 ₽</div>
</div>
<div class="b-clinic-full-price__service b-clinic-full-price__service_js_link" data-dtypelink="/volgograd/uslugi/tryaynery-dlya-zubov/" data-lpu-uses-club-discount="false">
<div class="b-clinic-full-price__key">Трейнеры для зубов</div>
<div class="b-clinic-full-price__value ui-text ui-text_subtitle-1 ui-text_color_black">от 800 ₽</div>
</div>
</div>
</div>	
</div>



{% include 'footer.twig' %}
