<div class="overlay"></div> <!-- Задний фон -->

<div class="appointment-box">
    <span class="close-button">&times;</span> <!-- Крестик для закрытия блока -->
    <h2>Запись на приём</h2>
    
    <div id="appointment-form">
        <input type="text" id="name" name="ClientFullName" placeholder="Имя" required>
        <br>
        <input name="Id" hidden /> 
        <input name="DateAndTime" hidden /> 
        <input name="DoctorId" hidden /> 
        <input type="tel" id="phone" name="ClientPhone" placeholder="+79000000000" required>
        <input id="code_phone" name="code_phone" placeholder="введите код из sms" required>
        <p class="p_error" id="bad_code">Невалидный код</p>
        <p class="p_error" id="bad_ip">Попробуйте записаться через 1 минуту</p>
        <input name="sended_sms" value="no" hidden>
        <br>
        <button type="make" class="submit-button">Записаться</button>
        <br>
        <br>
        
        <label for="agree">Нажимая на кнопку "Записаться", вы соглашаетесь с <a href="https://ellastom.ru/politika/">политикой обработки персональных данных</a></label>
        <br>
        
    </div>
    
    <p>Мы свяжемся с вами по телефону для подтверждения записи</p>
    <p><b>Дата и время:</b> <span id="strDateTime"></span></p>
    <p><b>Врач:</b> <span id="doctorName"></span></p>
</div>

<div class="appointment-send">
    <span class="close-button">&times;</span> <!-- Крестик для закрытия блока -->
    <h2>Заявка отправлена</h2>
    
    
    <p>Сохраните скриншот.</p>
    <p>Мы позвоним вам для подтверждения записи</p>
    <p><b>Дата и время:</b> <span id="strDateTime"></span></p>
    <p><b>Врач:</b> <span id="doctorName"></span></p>
</div>

